.DS_Store
node_modules/
npm-debug.log
cache/**/*
log/**/*
coverage/
dump.rdb

# Config
config.json
config/config.development.json
config/config.test.json
config/config.qa.json
config/config.production.json

workspace/media/*