language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '8.9.4'
  - '10.15.1'
before_script:
  - npm prune
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
services:
  - redis-server
