{
  "app": {
    "name": "Repo Default"
  },
  "server": {
    "host": "127.0.0.1",
    "port": 8000
  },
  "publicUrl": {
    "host": "api.somedomain.tech",
    "port": 80
  },
  "datastore": "./../../../test/test-connector",
  "auth": {
    "tokenUrl": "/token",
    "tokenTtl": 1800000,
    "clientCollection": "client-store",
    "tokenCollection": "token-store",
    "datastore": "./../../../test/test-connector",
    "database": "testdb"
  },
  "caching": {
    "ttl": 300,
    "directory": {
      "enabled": false,
      "path": "./cache/api",
      "extension": "json"
    },
    "redis": {
      "enabled": false,
      "host": "127.0.0.1",
      "port": 6379
    }
  },
  "paths": {
    "collections": "test/acceptance/workspace/collections",
    "endpoints": "test/acceptance/workspace/endpoints",
    "hooks": "test/acceptance/workspace/hooks"
  },
  "logging": {
    "enabled": true,
    "level": "info",
    "path": "./log",
    "filename": "api",
    "extension": "log"
  },
  "media": {
    "defaultBucket": "mediaStore",
    "basePath": "test/acceptance/workspace/media"
  },
  "feedback": false,
  "cors": false,
  "cluster": false
}
