{
  "app": {
    "name": "Repo Default"
  },
  "server": {
    "host": "127.0.0.1",
    "port": 3000
  },
  "publicUrl": {
    "host": "localhost",
    "port": 3000
  },
  "datastore": "@dadi/api-mongodb",
  "auth": {
    "tokenUrl": "/token",
    "tokenTtl": 1800000,
    "clientCollection": "client-store",
    "tokenCollection": "token-store",
    "datastore": "@dadi/api-mongodb",
    "database": "testdb"
  },
  "caching": {
    "ttl": 300,
    "directory": {
      "enabled": true,
      "path": "./cache/api",
      "extension": "json"
    },
    "redis": {
      "enabled": false,
      "host": "127.0.0.1",
      "port": 6379
    }
  },
  "paths": {
    "collections": "workspace/collections",
    "endpoints": "workspace/endpoints",
    "hooks": "workspace/hooks"
  },
  "logging": {
    "enabled": true,
    "level": "info",
    "path": "./log",
    "filename": "dadi-api",
    "extension": "log"
  },
  "feedback": false,
  "cors": false
}
